## PROJECT 5: HOUSES PRICES PREDICTION IN BCN DATA CLEANING

## DATA WRANGLING

### IMPORT THE FILES

In [82]:
import pandas as pd
import numpy as np
import regex

In [86]:
df_engel  = pd.read_excel(r'C:\Users\Migue Granica\Desktop\IronHack\Module_3\PROJECT_5\xls\engel.xlsx')
df_sarria = pd.read_excel(r'C:\Users\Migue Granica\Desktop\IronHack\Module_3\PROJECT_5\xls\sarria.xlsx')
df_aprop  = pd.read_excel(r'C:\Users\Migue Granica\Desktop\IronHack\Module_3\PROJECT_5\xls\aprop.xlsx')
df_fox    = pd.read_csv(r'C:\Users\Migue Granica\Desktop\IronHack\Module_3\PROJECT_5\csv\lucas_fox.csv')
df_hab    = pd.read_csv(r'C:\Users\Migue Granica\Desktop\IronHack\Module_3\PROJECT_5\csv\habitaclia.csv')

## ENGEL

In [3]:
df_engel_1 = pd.concat([df_engel,df_sarria], ignore_index=True)
df_engel_1

,description,location,attributs,price,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,Maravilloso piso en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",2 2 61 m²,440.000 EUR,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Amplio piso reformado en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",3 2 134 m²,880.000 EUR,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2177,Fantástica propiedad en Sarriá con exclusivas ...,"España, Barcelona, Sarria, Casco Antiguo",3 2 116 m²,850.000 EUR,NaN
2178,NaN,NaN,NaN,NaN,NaN
2179,Casa en Vallvidrera Centro,"España, Barcelona, Sarria, Vallvidrera",5 3 208 m² 474 m²,840.000 EUR,NaN
2180,NaN,NaN,NaN,NaN,NaN
2181,Luminoso piso alto con terraza y vistas en Sarriá,"España, Barcelona, Sarria, Sarria",3 2 115 m²,825.000 EUR,NaN

In [4]:
df_engel_2 = df_engel_1.loc[df_engel_1.description.notnull()].reset_index()

In [5]:
df_engel_2.head(2)

,index,description,location,attributs,price,Unnamed: 4
0,1,Maravilloso piso en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",2 2 61 m²,440.000 EUR,NaN
1,3,Amplio piso reformado en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",3 2 134 m²,880.000 EUR,NaN

In [6]:
df_engel_2['attributs']=df_engel_2['attributs'].str.replace('m²','')
df_engel_2['price']=df_engel_2['price'].str.replace('EUR','')
df_engel_2['price']=df_engel_2['price'].str.replace('.','')

In [7]:
df_engel_2[['country','city','district','neigbourhood']]=df_engel_2['location'].str.split(',', expand=True)
df_engel_2[['room_n','bath_n','sqm_constr','sqm_terrain']]=df_engel_2['attributs'].str.split('     ', expand=True)

In [8]:
df_engel_2.head()

,index,description,location,attributs,price,Unnamed: 4,country,city,district,neigbourhood,room_n,bath_n,sqm_constr,sqm_terrain
0,1,Maravilloso piso en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",2 2 61,440000,NaN,España,Barcelona,Ciutat Vella,Born-Ribera,2,2,61,None
1,3,Amplio piso reformado en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",3 2 134,880000,NaN,España,Barcelona,Ciutat Vella,Born-Ribera,3,2,134,None
2,5,Amplio piso reformado en Born,"España, Barcelona, Ciutat Vella, Born-Ribera",2 2 129,840000,NaN,España,Barcelona,Ciutat Vella,Born-Ribera,2,2,129,None
3,7,Amplio piso reformado en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",2 2 93,720000,NaN,España,Barcelona,Ciutat Vella,Born-Ribera,2,2,93,None
4,9,Amplio piso reformado en el Born,"España, Barcelona, Ciutat Vella, Born-Ribera",1 2 65,400000,NaN,España,Barcelona,Ciutat Vella,Born-Ribera,1,2,65,None

In [9]:
df_engel_2.drop(['index','location','attributs','Unnamed: 4', 'country', 'city'],axis=1, inplace=True)

In [10]:
df_engel_2.columns

Index(['description', 'price', 'district', 'neigbourhood', 'room_n', 'bath_n',
       'sqm_constr', 'sqm_terrain'],
      dtype='object')

In [11]:
df_engel_3 = df_engel_2[['description', 'district', 'neigbourhood', 'room_n', 'bath_n','sqm_constr', 'sqm_terrain','price']]
df_engel_3.head()

,description,district,neigbourhood,room_n,bath_n,sqm_constr,sqm_terrain,price
0,Maravilloso piso en el Born,Ciutat Vella,Born-Ribera,2,2,61,None,440000
1,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,3,2,134,None,880000
2,Amplio piso reformado en Born,Ciutat Vella,Born-Ribera,2,2,129,None,840000
3,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,2,2,93,None,720000
4,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,1,2,65,None,400000

In [12]:
df_engel_3.dtypes

description     object
district        object
neigbourhood    object
room_n          object
bath_n          object
sqm_constr      object
sqm_terrain     object
price           object
dtype: object

In [13]:
to_num = ['room_n', 'bath_n', 'sqm_constr',	'sqm_terrain', 'price']

for col in to_num:
    df_engel_3[col] = df_engel_3[col].apply(pd.to_numeric, errors='coerce')

In [14]:
df_engel_3['district']=df_engel_3.district.str.lstrip()

In [15]:
df_engel_3.district.value_counts()

Eixample          357
Ciutat Vella      203
Sant Gervasi      164
Gràcia             79
Sants Montjuic     77
Poblenou           49
Sarria             41
Horta Guinardó     39
Les Corts          32
Clot               15
Guinardó           11
Horta              11
Diagonal Mar        6
Vila Olímpica       5
Name: district, dtype: int64

In [16]:
def district_correct(name):
    
    if name=='Horta' or name=='Guinardó':
        result = 'Horta Guinardó'
    elif name=='Vila Olímpica' or name=='Diagonal Mar': 
        result='Sant Marti'
    elif name=='Clot' or name=='Poblenou':
        result='Sant Marti'
    elif name=='Sant Gervasi' or name=='Sarria':
        result='Sarria-Sant_Gervasi'
    else:
        result=name
        
    return result

In [17]:
district_correct('Poblenou')

'Sant Marti'

In [18]:
df_engel_3.district=df_engel_3.district.apply(lambda x: district_correct(x))

In [19]:
df_engel_3.district.value_counts()

Eixample               357
Sarria-Sant_Gervasi    205
Ciutat Vella           203
Gràcia                  79
Sants Montjuic          77
Sant Marti              75
Horta Guinardó          61
Les Corts               32
Name: district, dtype: int64

In [20]:
df_engel_3.loc[df_engel_3.description.str.contains('reforma')]

,description,district,neigbourhood,room_n,bath_n,sqm_constr,sqm_terrain,price
1,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,3.0,2.0,134.0,NaN,880000.0
2,Amplio piso reformado en Born,Ciutat Vella,Born-Ribera,2.0,2.0,129.0,NaN,840000.0
3,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,2.0,2.0,93.0,NaN,720000.0
4,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,1.0,2.0,65.0,NaN,400000.0
8,Pisos reformados en el Born,Ciutat Vella,Born-Ribera,NaN,NaN,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...
1019,Piso reformado a estrenar en Madrazo,Sarria-Sant_Gervasi,Galvany,3.0,2.0,129.0,NaN,600000.0
1022,Preciosa planta baja reformada en el Putxet,Sarria-Sant_Gervasi,Putget,3.0,2.0,133.0,NaN,580000.0
1026,Piso para reformar en Muntaner,Sarria-Sant_Gervasi,Bonanova,4.0,2.0,102.0,NaN,530000.0
1030,Piso a reformar en Tres Torres,Sarria-Sant_Gervasi,Tres Torres,3.0,1.0,90.0,NaN,505000.0
1036,Fantástico piso reformado en Sant Gervasi,Sarria-Sant_Gervasi,Putget,1.0,1.0,60.0,NaN,285000.0

In [21]:
df_engel_3['renovated']=np.where(df_engel_3.description.str.contains('reforma'),1,0)

In [22]:
df_engel_3.head()

,description,district,neigbourhood,room_n,bath_n,sqm_constr,sqm_terrain,price,renovated
0,Maravilloso piso en el Born,Ciutat Vella,Born-Ribera,2.0,2.0,61.0,NaN,440000.0,0
1,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,3.0,2.0,134.0,NaN,880000.0,1
2,Amplio piso reformado en Born,Ciutat Vella,Born-Ribera,2.0,2.0,129.0,NaN,840000.0,1
3,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,2.0,2.0,93.0,NaN,720000.0,1
4,Amplio piso reformado en el Born,Ciutat Vella,Born-Ribera,1.0,2.0,65.0,NaN,400000.0,1

In [23]:
df_engel_3.isna().sum()

description        0
district           2
neigbourhood      74
room_n            60
bath_n            67
sqm_constr        19
sqm_terrain     1033
price             76
renovated          0
dtype: int64

In [24]:
df_engel_3.columns

Index(['description', 'district', 'neigbourhood', 'room_n', 'bath_n',
       'sqm_constr', 'sqm_terrain', 'price', 'renovated'],
      dtype='object')

In [25]:
df_engel_4 = df_engel_3[['district', 'room_n', 'bath_n', 'renovated', 'sqm_constr', 'price']]

## Aproperties

In [26]:
df_aprop.head()

,description,location,attributs,price
0,NaN,NaN,NaN,NaN
1,Piso reformado y amueblado en Sagrada Familia,"Eixample Dreta, Barcelona ciudad",77m22 Dormitorios 2 Baños \r\n,515000
2,NaN,NaN,NaN,NaN
3,Piso reformado de cuatro habitaciones y balcón,"Horta-Guinardó, Barcelona ciudad",101m24 Dormitorios 2 Baños \r\n,399000
4,NaN,NaN,NaN,NaN

In [27]:
df_aprop_1 = df_aprop.loc[df_aprop.description.notnull()].reset_index()
df_aprop_1.head()

,index,description,location,attributs,price
0,1,Piso reformado y amueblado en Sagrada Familia,"Eixample Dreta, Barcelona ciudad",77m22 Dormitorios 2 Baños \r\n,515000
1,3,Piso reformado de cuatro habitaciones y balcón,"Horta-Guinardó, Barcelona ciudad",101m24 Dormitorios 2 Baños \r\n,399000
2,5,Pieza única en venta en el corazón de St Gerva...,"Sant Gervasi - Galvany, Barcelona ciudad",230m24 Dormitorios 4 Baños \r\n,1490000
3,7,"Loft de diseño industrial en la calle Pujades,...","El Poblenou, Barcelona ciudad",68m21 Dormitorio 2 Baños \r\n,329000
4,9,Piso reformado muy luminoso cerca de Plaça Art...,"Sarrià, Barcelona ciudad",105m22 Dormitorios 2 Baños \r\n,575000

In [28]:
df_aprop_1.isna().sum()

index          0
description    0
location       0
attributs      0
price          0
dtype: int64

In [29]:
df_aprop_1['attributs'] = df_aprop_1['attributs'].str.replace('m2',' ')
#df_aprop_1['attributs'] = df_aprop_1['attributs'].str.replace('Dormitorio','')
#df_aprop_1['attributs'] = df_aprop_1['attributs'].str.replace('Baños',' ')

In [30]:
df_aprop_1['attributs']

0       77 2 Dormitorios 2 Baños \r\n
1      101 4 Dormitorios 2 Baños \r\n
2      230 4 Dormitorios 4 Baños \r\n
3        68 1 Dormitorio 2 Baños \r\n
4      105 2 Dormitorios 2 Baños \r\n
                    ...
447     83 2 Dormitorios 2 Baños \r\n
448    694 8 Dormitorios 7 Baños \r\n
449    600 5 Dormitorios 7 Baños \r\n
450    700 4 Dormitorios 4 Baños \r\n
451    781 5 Dormitorios 6 Baños \r\n
Name: attributs, Length: 452, dtype: object

In [31]:
df_aprop_1[['neighbourhood','district']]=df_aprop_1['location'].str.split(',', expand=True)
df_aprop_1[['sqm_constr','room_n','dorm', 'bath_n', 'bath', 'garbage']]=df_aprop_1['attributs'].str.split(' ', expand=True)

In [32]:
df_aprop_1.head()

,index,description,location,attributs,price,neighbourhood,district,sqm_constr,room_n,dorm,bath_n,bath,garbage
0,1,Piso reformado y amueblado en Sagrada Familia,"Eixample Dreta, Barcelona ciudad",77 2 Dormitorios 2 Baños \r\n,515000,Eixample Dreta,Barcelona ciudad,77,2,Dormitorios,2,Baños,\r\n
1,3,Piso reformado de cuatro habitaciones y balcón,"Horta-Guinardó, Barcelona ciudad",101 4 Dormitorios 2 Baños \r\n,399000,Horta-Guinardó,Barcelona ciudad,101,4,Dormitorios,2,Baños,\r\n
2,5,Pieza única en venta en el corazón de St Gerva...,"Sant Gervasi - Galvany, Barcelona ciudad",230 4 Dormitorios 4 Baños \r\n,1490000,Sant Gervasi - Galvany,Barcelona ciudad,230,4,Dormitorios,4,Baños,\r\n
3,7,"Loft de diseño industrial en la calle Pujades,...","El Poblenou, Barcelona ciudad",68 1 Dormitorio 2 Baños \r\n,329000,El Poblenou,Barcelona ciudad,68,1,Dormitorio,2,Baños,\r\n
4,9,Piso reformado muy luminoso cerca de Plaça Art...,"Sarrià, Barcelona ciudad",105 2 Dormitorios 2 Baños \r\n,575000,Sarrià,Barcelona ciudad,105,2,Dormitorios,2,Baños,\r\n

In [33]:
df_aprop_2 = df_aprop_1[['description','district', 'neighbourhood', 'room_n', 'bath_n', 'sqm_constr', 'price']]

In [34]:
df_aprop_2.neighbourhood.value_counts()

Eixample Dreta                85
Eixample Esquerra             74
Sant Gervasi - La Bonanova    31
Sant Gervasi - Galvany        24
Sarrià                        23
El Raval                      18
El Poblenou                   18
El Gòtic                      17
El Born                       16
La Sagrada Família            15
Les Tres Torres               15
Pedralbes                     13
Turó Park                     13
Les Corts                     12
El Poble Sec                  11
Diagonal Mar                  11
Sant Antoni                   11
Vila de Gràcia                11
Sants                          9
Horta-Guinardó                 5
La Barceloneta                 4
Barcelona                      4
La Salut                       3
El Fort Pienc                  3
El Camp de l'Arpa              2
Papiol (el)                    1
La Vila Olímpica               1
Vallvidrera                    1
El Clot                        1
Name: neighbourhood, dtype: int64

In [35]:
distritos = ['ciutat_vella', 'nou_barris', 'sarria_san_gervasi', 'les_corts', 'gracia', 'sants-montjuic', 'sant_marti', 'sant_andreu', 'eixample', 'horta_guinardo']

neighbourhoods = {'Eixample Dreta':'Eixample', 'Sant Antoni':'Eixample',
                 'Eixample Esquerra':'Eixample','La Sagrada Família':'Eixample', 'El Fort Pienc ':'Eixample','Horta-Guinardó':'Horta Guinardó', 
                 'Sant Gervasi - Galvany':'Sarria-Sant_Gervasi', 'Sarrià':'Sarria-Sant_Gervasi','Sant Gervasi - La Bonanova':'Sarria-Sant_Gervasi',
                 'Turó Park':'Sarria-Sant_Gervasi','Pedralbes':'les_corts', 'Les Tres Torres':'Sarria-Sant_Gervasi', 'Vallvidrera':'Sarria-Sant_Gervasi',
                 'El Poblenou':'Sant Marti' , 'Diagonal Mar':'Sant Marti', 'El Clot':'Sant Marti', 
                 'La Vila Olímpica':'Sant Marti', "El Camp de l'Arpa":'Sant Marti',
                 'El Gòtic':'Ciutat Vella', 'El Born':'Ciutat Vella', 'El Raval':'Ciutat Vella', 'La Barceloneta':'Ciutat Vella',
                 'Vila de Gràcia':'Gràcia','Sants':'Sants Montjuic', 'El Poble Sec':'Sants Montjuic',
                 'Barcelona':'Les Corts', 'Les Corts':'Les Corts'}

def get_dist(neigh): 
    for key, value in neighbourhoods.items():
        if neigh == key:
            return value 
    return 'none'

In [36]:
df_aprop_2['district']=df_aprop_2.neighbourhood.apply(lambda x: get_dist(x))
df_aprop_2.district.value_counts()

<ipython-input-36-14493d0f9b0d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aprop_2['district']=df_aprop_2.neighbourhood.apply(lambda x: get_dist(x))

Eixample               188
Sarria-Sant_Gervasi    107
Ciutat Vella            55
Sant Marti              33
Sants Montjuic          20
Les Corts               16
les_corts               13
Gràcia                  11
Horta Guinardó           5
none                     4
Name: district, dtype: int64

In [37]:
to_num = ['room_n', 'bath_n', 'sqm_constr', 'price']

for col in to_num:
    df_aprop_2[col] = df_aprop_2[col].apply(pd.to_numeric, errors='coerce')

<ipython-input-37-f6926d224a2e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aprop_2[col] = df_aprop_2[col].apply(pd.to_numeric, errors='coerce')

In [38]:
df_aprop_2.dtypes

description       object
district          object
neighbourhood     object
room_n           float64
bath_n           float64
sqm_constr       float64
price            float64
dtype: object

In [39]:
df_aprop_2.isna().sum()

description       0
district          0
neighbourhood     0
room_n           58
bath_n            5
sqm_constr        0
price            63
dtype: int64

In [40]:
df_aprop_2['renovated']=np.where(df_aprop_2.description.str.contains('reforma'),1,0)

<ipython-input-40-b51944b83982>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aprop_2['renovated']=np.where(df_aprop_2.description.str.contains('reforma'),1,0)

In [41]:
df_aprop_2.dropna(inplace=True)

<ipython-input-41-9b45323cb97d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aprop_2.dropna(inplace=True)

In [42]:
df_aprop_2

,description,district,neighbourhood,room_n,bath_n,sqm_constr,price,renovated
0,Piso reformado y amueblado en Sagrada Familia,Eixample,Eixample Dreta,2.0,2.0,77.0,515000.0,1
1,Piso reformado de cuatro habitaciones y balcón,Horta Guinardó,Horta-Guinardó,4.0,2.0,101.0,399000.0,1
2,Pieza única en venta en el corazón de St Gerva...,Sarria-Sant_Gervasi,Sant Gervasi - Galvany,4.0,4.0,230.0,1490000.0,0
3,"Loft de diseño industrial en la calle Pujades,...",Sant Marti,El Poblenou,1.0,2.0,68.0,329000.0,0
4,Piso reformado muy luminoso cerca de Plaça Art...,Sarria-Sant_Gervasi,Sarrià,2.0,2.0,105.0,575000.0,1
...,...,...,...,...,...,...,...,...
444,Exclusiva casa en venta en Collserola,Sarria-Sant_Gervasi,Vallvidrera,6.0,6.0,380.0,1850000.0,0
445,Casa en venta en Pedralbes,les_corts,Pedralbes,8.0,7.0,750.0,5800000.0,0
446,Casa en venta con espectaculares vistas a Barc...,Sarria-Sant_Gervasi,Sarrià,5.0,3.0,376.0,1150000.0,0
447,Exclusiva vivienda en venta en Diagonal Mar,Sant Marti,Diagonal Mar,2.0,2.0,83.0,790000.0,0
449,Excelente casa en Pedralbes con vistas a Barce...,les_corts,Pedralbes,5.0,7.0,600.0,6900000.0,0

In [43]:
df_aprop_2.columns

Index(['description', 'district', 'neighbourhood', 'room_n', 'bath_n',
       'sqm_constr', 'price', 'renovated'],
      dtype='object')

In [44]:
df_aprop_3 = df_aprop_2[['district','room_n', 'bath_n','sqm_constr', 'renovated', 'price']]

## Lucas Fox

In [46]:
df_fox    = pd.read_csv(r'C:\Users\Migue Granica\Desktop\IronHack\Module_3\PROJECT_5\csv\lucas_fox.csv')

In [47]:
df_fox.head()

   Unnamed: 0  room_n  bath_n sqm_constr      0_y                  2_y
0           0       6       2        166   780000               Gótico
1           1       1       1         48   330000              El Born
2           2       7       3        250  1600000   Eixample Izquierdo
3           3       3       2         71   480000   Eixample Izquierdo
4           4       4       3        117   850000     Eixample Derecho

In [48]:
df_fox.dtypes

Unnamed: 0     int64
room_n         int64
bath_n         int64
sqm_constr    object
0_y           object
2_y           object
dtype: object

In [49]:
to_num = ['sqm_constr', '0_y']

for col in to_num:
    df_fox[col] = df_fox[col].apply(pd.to_numeric, errors='coerce')

In [50]:
df_fox

,Unnamed: 0,room_n,bath_n,sqm_constr,0_y,2_y
0,0,6,2,166.0,780000.0,Gótico
1,1,1,1,48.0,330000.0,El Born
2,2,7,3,250.0,1600000.0,Eixample Izquierdo
3,3,3,2,71.0,480000.0,Eixample Izquierdo
4,4,4,3,117.0,850000.0,Eixample Derecho
...,...,...,...,...,...,...
618,620,5,5,600.0,2250000.0,Vallvidrera / Tibidabo
619,621,4,4,475.0,3600000.0,Pedralbes
620,622,2,2,124.0,650000.0,Gótico
621,623,4,3,177.0,2650000.0,Diagonal Mar
622,624,5,5,586.0,5950000.0,Pedralbes

In [51]:
df_fox['2_y'].unique()

array([' Gótico', ' El Born', ' Eixample Izquierdo', ' Eixample Derecho',
       ' Gràcia', ' Turó Park', ' Sarrià', ' Sant Gervasi - Galvany',
       ' Sant Antoni', ' Sant Gervasi - La Bonanova', ' Poblenou',
       ' El Raval', ' Barceloneta', ' Vila Olímpica', ' Pedralbes',
       ' Sants', ' Poble Sec', ' Tres Torres', ' Diagonal Mar',
       ' El Putxet', ' Vallvidrera / Tibidabo', ' Les Corts',
       ' Badalona Beach'], dtype=object)

In [52]:

neigh_fox = {' El Born':'Ciutat Vella', 
              ' Gótico':'Ciutat Vella',
              ' El Raval':'Ciutat Vella',
              ' Barceloneta':'Ciutat Vella',
              
              ' Eixample Izquierdo':'Eixample', 
              ' Eixample Derecho':'Eixample',
              ' Sant Antoni':'Eixample',
              
              ' Gràcia':'Gràcia', 
              
              ' Turó Park':'Sarria-Sant_Gervasi', 
              ' Sarrià':'Sarria-Sant_Gervasi', 
              ' Sant Gervasi - Galvany':'Sarria-Sant_Gervasi',
              ' Vallvidrera / Tibidabo':'Sarria-Sant_Gervasi',
              ' Sant Gervasi - La Bonanova':'Sarria-Sant_Gervasi', 
              
              ' Tres Torres':'Sarria-Sant_Gervasi',
              ' El Putxet':'Sarria-Sant_Gervasi', 
              
              ' Poblenou':'Sant Marti',
              ' Diagonal Mar':'Sant Marti',     
              ' Vila Olímpica':'Sant Marti', 
              
              ' Sants':'Sants Montjuic', 
              ' Poble Sec':'Sants Montjuic', 
            
              ' Les Corts':'Les Corts',
              ' Pedralbes':'Les Corts'}


districts = ['Ciutat Vella', 'Eixample','Sarria-Sant_Gervasi','Gràcia','Sant Marti','Sants Montjuic''Les Corts']

def get_dist_fox(neigh): 
    for key, value in neigh_fox.items():
        if neigh == key:
            return value 
    return 'none'

In [53]:
df_fox.columns

Index(['Unnamed: 0', 'room_n', 'bath_n', 'sqm_constr', '0_y', '2_y'], dtype='object')

In [54]:
df_fox['district']=df_fox['2_y'].apply(lambda x: get_dist_fox(x))
df_fox_2 = df_fox[['district', 'room_n', 'bath_n', '2_y', 'sqm_constr', '0_y']]

In [55]:
#att_1.rename(columns={1:'room_n', 3:'bath_n', 5:'sqm_cosntr'}, inplace=True)
df_fox_2.rename(columns={'2_y':'renovated','0_y':'price'}, inplace=True)

c:\program files\python38\lib\site-packages\pandas\core\frame.py:4122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [56]:
df_fox_2['renovated']=df_fox_2.renovated.apply(lambda x: 0)

<ipython-input-56-aa559d934b56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fox_2['renovated']=df_fox_2.renovated.apply(lambda x: 0)

# habitaclia

In [117]:
df_hab.loc[df_hab.district=='Ciutat Vella'].sort_values(by='bath_n', ascending=False).head(50)

       Unnamed: 0      district  room_n  bath_n  sqm_constr      price
16839       16839  Ciutat Vella     2.0    11.0        60.0   710000.0
15274       15274  Ciutat Vella     2.0    10.0        75.0   750000.0
10611       10611  Ciutat Vella     4.0     9.0       474.0  2950000.0
16838       16838  Ciutat Vella     3.0     8.0       150.0  1260000.0
1198         1198  Ciutat Vella     8.0     8.0       191.0   890000.0
10828       10828  Ciutat Vella     8.0     8.0       183.0   890000.0
7515         7515  Ciutat Vella     2.0     8.0       100.0   805000.0
6452         6452  Ciutat Vella     2.0     7.0       105.0   790000.0
8583         8583  Ciutat Vella     1.0     7.0        25.0   179000.0
4761         4761  Ciutat Vella    10.0     7.0       573.0  1265000.0
12446       12446  Ciutat Vella     1.0     6.0        35.0   225000.0
7673         7673  Ciutat Vella    11.0     6.0       507.0  1850000.0
15160       15160  Ciutat Vella     1.0     6.0        27.0   170000.0
11553       11553  Ciutat Vella     3.0     5.0        98.0   595000.0
11173       11173  Ciutat Vella     3.0     5.0       121.0  1000000.0
792           792  Ciutat Vella     4.0     5.0       131.0   730000.0
14953       14953  Ciutat Vella     5.0     5.0         NaN  1690000.0
5504         5504  Ciutat Vella     3.0     5.0       215.0  1690000.0
1275         1275  Ciutat Vella     4.0     5.0       280.0  1690000.0
5594         5594  Ciutat Vella     3.0     5.0       214.0  1690000.0
15038       15038  Ciutat Vella     2.0     5.0        60.0   330000.0
3022         3022  Ciutat Vella     4.0     5.0       215.0  1690000.0
15201       15201  Ciutat Vella     1.0     5.0        67.0   350000.0
17062       17062  Ciutat Vella     2.0     5.0       138.0   695000.0
10584       10584  Ciutat Vella     1.0     5.0        34.0   175000.0
617           617  Ciutat Vella     2.0     5.0       299.0  3500000.0
1041         1041  Ciutat Vella     5.0     5.0       175.0   825000.0
10972       10972  Ciutat Vella     4.0     5.0       290.0  2140000.0
6650         6650  Ciutat Vella     1.0     5.0        20.0   109000.0
10664       10664  Ciutat Vella     1.0     5.0        35.0   183000.0
1931         1931  Ciutat Vella     4.0     5.0       217.0  1690000.0
14248       14248  Ciutat Vella     1.0     5.0        29.0   170000.0
8058         8058  Ciutat Vella     4.0     5.0       131.0   695000.0
12568       12568  Ciutat Vella     1.0     4.0        40.0   169000.0
12590       12590  Ciutat Vella     2.0     4.0        80.0   370000.0
7566         7566  Ciutat Vella     7.0     4.0       232.0  1950000.0
5756         5756  Ciutat Vella     1.0     4.0        25.0   115000.0
12894       12894  Ciutat Vella     1.0     4.0        20.0    95000.0
10276       10276  Ciutat Vella     3.0     4.0       171.0   775000.0
12917       12917  Ciutat Vella     2.0     4.0        60.0   245000.0
15717       15717  Ciutat Vella     4.0     4.0       241.0  1690000.0
4595         4595  Ciutat Vella     4.0     4.0       222.0  1690000.0
13331       13331  Ciutat Vella     4.0     4.0       264.0  1095000.0
7854         7854  Ciutat Vella     4.0     4.0       189.0   850000.0
5744         5744  Ciutat Vella     2.0     4.0       128.0  1250000.0
9565         9565  Ciutat Vella     3.0     4.0       215.0  1690000.0
9533         9533  Ciutat Vella     4.0     4.0       234.0  1690000.0
15264       15264  Ciutat Vella     2.0     4.0        73.0   385000.0
7879         7879  Ciutat Vella     4.0     4.0       233.0  1290000.0
3002         3002  Ciutat Vella     4.0     4.0       240.0  1390000.0

In [89]:
df_hab['district'] = df_hab.district.apply(lambda x: x.strip())

In [90]:
neigh_hab = {'Sant Gervasi': 'Sarria-Sant_Gervasi', 'Putget' : 'Sarria-Sant_Gervasi',
             'Tres Torres' : 'Sarria-Sant_Gervasi', 'Vallvidrera' : 'Sarria-Sant_Gervasi',          
             'Sarrià': 'Sarria-Sant_Gervasi',
             
             'Font de la Guatlla':'Sants Montjuic', 'Sants' : 'Sants Montjuic',
             'Badal': 'Sants Montjuic', 'Poble Sec': 'Sants Montjuic',
             'Hostafrancs' : 'Sants Montjuic', 'La Bordeta' : 'Sants Montjuic',
             
             'Vila de Gràcia' : 'Gràcia', 'Camp d´en Grassot' : 'Gràcia',
             'Vallcarca' : 'Gràcia', 'La Salut': 'Gràcia',
             'El Coll': 'Gràcia',
            
             'Esquerra Alta de l´Eixample': 'Eixample','Esquerra Baixa de l´Eixample':'Eixample' , 
             'Dreta de l´Eixample':'Eixample', 'Sagrada Família': 'Eixample',
             'Sant Antoni': 'Eixample','Fort Pienc': 'Eixample',
             
             'Les Corts':'Les Corts','Pedralbes': 'Les Corts','Sant Ramon': 'Les Corts',
            
             'Raval': 'Ciutat Vella', 'St. Pere' : 'Ciutat Vella','Barceloneta' : 'Ciutat Vella',
             'Gòtic' : 'Ciutat Vella',
             
             'Baix Guinardó' : 'Horta Guinardó', 'Guinardó' : 'Horta Guinardó',
             'Vall d´Hebron': 'Horta Guinardó', 'Carmel' :'Horta Guinardó',
             'Can Baró' : 'Horta Guinardó', 'Horta' : 'Horta Guinardó',
             'Taxonera' : 'Horta Guinardó', 'Font d´en Fargas' : 'Horta Guinardó',
             'Montbau' : 'Horta Guinardó', 'Sant Genís dels Agudells' : 'Horta Guinardó',
             
             'La Sagrera' : 'Sant Andreu', 'Congrés': 'Sant Andreu',
             'Sant Andreu': 'Sant Andreu', 'Bon Pastor': 'Sant Andreu',
             'Navas': 'Sant Andreu', 'Trinitat Vella' : 'Sant Andreu',
             
             'Diagonal Mar':'Sant Marti', 'Glòries El Parc': 'Sant Marti',
             'Poblenou': 'Sant Marti', 'Camp de l´Arpa': 'Sant Marti',
             'Besòs': 'Sant Marti', 'Vila Olímpica': 'Sant Marti',
             'La Marina': 'Sant Marti', 'El Clot': 'Sant Marti',
             'Provençals del Poblenou': 'Sant Marti', 'La Verneda' : 'Sant Marti',
             'Sant Martí' : 'Sant Marti',
             
             'Porta':'Nou Barris', 'La Guineueta': 'Nou Barris',
             'Roquetes': 'Nou Barris', 'Prosperitat': 'Nou Barris',
             'Vilapicina': 'Nou Barris', 'Turó de la Peira': 'Nou Barris',
             'Torre Baró': 'Nou Barris', 'Trinitat Nova': 'Nou Barris',
             'Verdun': 'Nou Barris', 'Ciutat Meridiana': 'Nou Barris',
             'Canyelles': 'Nou Barris', 'Vallbona': 'Nou Barris',
            }

def get_district_hab(neigh): 
    for key, value in neigh_hab.items():
        if neigh == key:
            return value 
    return 'none'

In [91]:
df_hab['district'] = df_hab.district.apply(lambda x: get_district_hab(x))

In [92]:
df_hab = df_hab.loc[df_hab.district!='none']

In [93]:
df_hab

       Unnamed: 0             district  room_n  bath_n  sqm_constr      price
0               0  Sarria-Sant_Gervasi     5.0     3.0       210.0  1390000.0
1               1  Sarria-Sant_Gervasi     4.0     2.0       185.0  1350000.0
2               2             Eixample     2.0     2.0        86.0   645000.0
3               3             Eixample     3.0     1.0        70.0   399000.0
4               4             Eixample     4.0     2.0       100.0   398000.0
...           ...                  ...     ...     ...         ...        ...
17179       17179       Horta Guinardó     3.0     1.0        55.0   170000.0
17180       17180           Sant Marti     3.0     1.0        87.0   350000.0
17181       17181  Sarria-Sant_Gervasi     6.0     5.0       930.0  3900000.0
17182       17182       Horta Guinardó     2.0     1.0       200.0   490000.0
17183       17183         Ciutat Vella     NaN     NaN        82.0   740000.0

[17183 rows x 6 columns]

In [94]:
df_hab.describe()

         Unnamed: 0        room_n        bath_n    sqm_constr         price
count  17183.000000  16099.000000  16030.000000  16477.000000  1.714600e+04
mean    8591.162603      3.033542      2.067873    108.929053  5.639974e+05
std     4960.685029      5.723187     14.412742     78.675942  6.016296e+05
min        0.000000      1.000000      1.000000      1.000000  1.500000e+04
25%     4295.500000      2.000000      1.000000     70.000000  2.600000e+05
50%     8591.000000      3.000000      2.000000     86.000000  3.950000e+05
75%    12886.500000      4.000000      2.000000    120.000000  6.300000e+05
max    17183.000000    712.000000    993.000000    996.000000  1.710000e+07

In [95]:
df_hab.isna().sum()

Unnamed: 0       0
district         0
room_n        1084
bath_n        1153
sqm_constr     706
price           37
dtype: int64

In [96]:
df_hab_1 = df_hab.loc[df_hab['bath_n'].notnull()]
df_hab_2 = df_hab_1.loc[df_hab['sqm_constr'].notnull()]
df_hab_2 = df_hab_2.loc[df_hab['price'].notnull()]

In [97]:

df_hab_2['sqm_value']=round(df_hab_2.price/df_hab_2.sqm_constr,2)

In [98]:
df_hab_2.describe()

,Unnamed: 0,room_n,bath_n,sqm_constr,price,sqm_value
count,15304.000000,15304.000000,15304.000000,15304.000000,1.530400e+04,1.530400e+04
mean,8306.958181,2.976085,2.058677,109.869773,5.462311e+05,6.019196e+03
std,4886.604423,1.216413,14.748149,78.633633,5.736959e+05,7.754130e+04
min,0.000000,1.000000,1.000000,1.000000,3.900000e+04,3.208600e+02
25%,4108.750000,2.000000,1.000000,70.000000,2.500000e+05,3.408533e+03
50%,8199.500000,3.000000,2.000000,89.000000,3.850000e+05,4.307690e+03
75%,12305.500000,4.000000,2.000000,120.000000,6.000000e+05,5.500000e+03
max,17182.000000,25.000000,993.000000,996.000000,1.150000e+07,5.700000e+06

In [99]:
df_hab_2.drop(columns=['Unnamed: 0','sqm_value'], inplace=True)

In [77]:
df_hab_2

                  district  sqm_constr  room_n  bath_n      price
0      Sarria-Sant_Gervasi       210.0     5.0     3.0  1390000.0
1      Sarria-Sant_Gervasi       185.0     4.0     2.0  1350000.0
2                 Eixample        86.0     2.0     2.0   645000.0
3                 Eixample        70.0     3.0     1.0   399000.0
4                 Eixample       100.0     4.0     2.0   398000.0
...                    ...         ...     ...     ...        ...
17178       Horta Guinardó       115.0     4.0     2.0   295000.0
17179       Horta Guinardó        55.0     3.0     1.0   170000.0
17180           Sant Marti        87.0     3.0     1.0   350000.0
17181  Sarria-Sant_Gervasi       930.0     6.0     5.0  3900000.0
17182       Horta Guinardó       200.0     2.0     1.0   490000.0

[15304 rows x 5 columns]

# merging data

In [101]:
print(f'null values in aproperties df:\n{df_aprop_3.isna().sum()}\n')
print(f'null values in Lucas Fox df:\n{df_fox_2.isna().sum()}\n')
print(f'null values in Engel df:\n{df_engel_4.isna().sum()}\n')
print(f'null values in habitaclia df:\n{df_hab_2.isna().sum()}\n')

null values in aproperties df:
district      0
room_n        0
bath_n        0
sqm_constr    0
renovated     0
price         0
dtype: int64

null values in Lucas Fox df:
district      0
room_n        0
bath_n        0
renovated     0
sqm_constr    0
price         0
dtype: int64

null values in Engel df:
district      0
room_n        0
bath_n        0
renovated     0
sqm_constr    0
price         0
dtype: int64

null values in habitaclia df:
district      0
room_n        0
bath_n        0
sqm_constr    0
price         0
dtype: int64

In [102]:
df_engel_4.dropna(inplace=True)
df_fox_2.dropna(inplace=True)

<ipython-input-102-40630b72bc39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_engel_4.dropna(inplace=True)
<ipython-input-102-40630b72bc39>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fox_2.dropna(inplace=True)

In [103]:
frames = [df_engel_4, df_fox_2, df_aprop_3]

result = pd.concat(frames)

In [105]:
df_hab_2

                  district  room_n  bath_n  sqm_constr      price
0      Sarria-Sant_Gervasi     5.0     3.0       210.0  1390000.0
1      Sarria-Sant_Gervasi     4.0     2.0       185.0  1350000.0
2                 Eixample     2.0     2.0        86.0   645000.0
3                 Eixample     3.0     1.0        70.0   399000.0
4                 Eixample     4.0     2.0       100.0   398000.0
...                    ...     ...     ...         ...        ...
17178       Horta Guinardó     4.0     2.0       115.0   295000.0
17179       Horta Guinardó     3.0     1.0        55.0   170000.0
17180           Sant Marti     3.0     1.0        87.0   350000.0
17181  Sarria-Sant_Gervasi     6.0     5.0       930.0  3900000.0
17182       Horta Guinardó     2.0     1.0       200.0   490000.0

[15304 rows x 5 columns]

In [106]:
df_hab_2.to_csv('prop_prices_2.csv')

In [104]:
result

                district  room_n  bath_n  renovated  sqm_constr      price
0           Ciutat Vella     2.0     2.0          0        61.0   440000.0
1           Ciutat Vella     3.0     2.0          1       134.0   880000.0
2           Ciutat Vella     2.0     2.0          1       129.0   840000.0
3           Ciutat Vella     2.0     2.0          1        93.0   720000.0
4           Ciutat Vella     1.0     2.0          1        65.0   400000.0
..                   ...     ...     ...        ...         ...        ...
444  Sarria-Sant_Gervasi     6.0     6.0          0       380.0  1850000.0
445            les_corts     8.0     7.0          0       750.0  5800000.0
446  Sarria-Sant_Gervasi     5.0     3.0          0       376.0  1150000.0
447           Sant Marti     2.0     2.0          0        83.0   790000.0
449            les_corts     5.0     7.0          0       600.0  6900000.0

[1998 rows x 6 columns]

In [ ]:
result.to_csv('prop_prices.csv')